html{
    background: url(img/solar.jpg);
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
/*--------------IMAGES---------------------*/

.profile_background{
    height: auto;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 90px;
}



.profile{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    top:  30%;
    left: 47%;
    /*transform: translate(20%, 150%);*/
}

/*--------------TEXT------------*/

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
}

/*------------ICONS------------*/
/*.icons{
    position: absolute;
    top: 50%;
    left: 50%;
}*/

.fa-facebook-square{
    position: absolute;
    top: 70%;
    left: 40%;
}

.fa-twitter-square{
    position: absolute;
    top: 70%;
    left: 48.5%;
}

.fa-google-plus-square{
    position: absolute;
    top: 70%;
    left: 57%;
}